{% extends 'admin_base.html' %}
{% load static %}
{%block loginstyle%}
<style>
    .hello{
    color: white;
    margin-top: 3%;
    margin-left: 12%;
    font-size: 30px;
  }
</style>
{%endblock%}
{% block content %}
{% if user.is_authenticated %}
<div class="hello">
  Welcome!
  <h4> Please select curriculum to view!</h4>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
        {% for curriculum in curriculums %}
        <div class="card card-margin">
          <div class="card-header no-border">
            <a href="{% url 'AlumTeknew:curriculum_rating' curriculum.curriculum %}">
            <h5 class="card-title">{{curriculum.curriculum}}</h5>
          </a>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-meeting-action">
                <a href="{% url 'AlumTeknew:curriculum_rating' curriculum.curriculum %}" class="btn btn-sm btn-flash-border-primary">View Subjects</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor curriculum %}
      </div>
      </div>
      </div>
</div>
{%else%}
<div id="main">
  <div class="fof" style="color:bisque;">
      <h1>Please Log In!</h1>
  </div>
</div>{%endif%}
{%endblock%}