{% extends 'base.html' %}
{% load static %}
{%block loginstyle %}
<style>
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: #500e0e;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #500e0e;
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
.modal {
  text-align: center;
}

/* Modal Content/Box */
</style>

{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Alumni Survey</h4>
                </div>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} style="color: red; font-size: medium;"class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                  <p>Please answer the survey. Refer to the curriculum provided.</p>
                  <form id="form" action="" method="POST" class="surveyform" style="margin-top: 0%;">
                    {% csrf_token %}
                  <div class="form-outline mb-4">
                    <label class="form-label" for="question1">What course/courses that helped you in improving your skills?</label>
                    <input type="text" name="question1" class="form-control"
                      placeholder="Ex. DataStructures" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="question2">What certain topic/topics that you enjoyed?</label>
                    <input type="text" name="question2" class="form-control"  placeholder="Enter course.."/>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="question3">In your perspective, what is/are the courses that needs
                      improvement?</label>
                    <input type="text" name="question3" class="form-control"
                      placeholder="Enter course.." />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="question4">In your perspective, what is/are the topics that needs
                      improvement</label>
                    <input type="text" name="question4" class="form-control" placeholder="Enter course.."/>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-warning float-left">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a University</h4>
                <p class="small mb-0">This survey will help us to raise the standard of training we deliver. <br> 
                  Additionally, we offer outreach initiatives outside of the university. By scanning the QR code, you may assist us in funding these outreach programs.                </p> <br>
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Scan QR Code
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fundraising GCash Account</h5>
        </div>
        <div class="modal-body">
          <p>Be part of our Organization</p>
          <img src="{% static 'qr.jpg' %}" width="300"alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div id="main">
  <div class="fof" style="color:bisque;">
      <h1>Please Log In!</h1>
  </div>
</div>{% endif %}
{%endblock %}
